<h1>signup</h1>
<form [formGroup]="myform">
 
  <div class="row">
    <label for="email">Email</label>
    <input type="email" name="email" autocomplete="off" formControlName="email" placeholder="email@example.com" required>

    <!-- <span *ngIf="isValid('email')">Entered email is invalid</span> -->
  </div>
  <div class="row">
    <label for="username">username</label>
    <input type="text" name="username" autocomplete="off" formControlName="username" placeholder="uname" required>

    <!-- <span *ngIf="isValid('username')">Username is required</span> -->
  </div>
  <div class="row">
    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password" placeholder="password" required>

    <span *ngIf="isValid('password')">Password is a mandatory field</span>
  </div>
  <input type="submit" (click)="register()" value="signup" class="button">
  <!-- <button type="submit">signup</button> -->
  <div style="text-align: center;">                
    {{successMessage}}
</div>
</form>

<div>
  <div style="width: 290px; padding: 20px;">
      <button class="form-btn-hollow" (click)="movetologin()">Login</button>
  </div>
</div>
<!-- </div> -->