<div class="container-fluid"> 
    <div *ngFor='let i of authors' class="row">
        <div class="col-md-2 col-sm-3 text-center mt-5">
            <img src="/assets/images/{{i.imageUrl}}" class="img-fluid" alt="..." width="180px">
             <h3>title{{i.title}}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <h4><span class="label label-default">authorsId{{i.authorsId}}</span>
                    </h4>
                </div>
            <div class="row">
                <div class="col-xs-9">
                    <h4><span class="label label-default">author{{i.author}}</span>
                    </h4>
                </div>
                <div class="col-xs-9">
                    <h4><span class="label label-default">genre{{i.genre}}</span>
                    </h4>
                </div>
                <!-- <div class="col-xs-9">
                    <h4><span class="label label-default">description{{i.author}}</span>
                    </h4>
                </div> -->
                <!-- <div class="col-xs-9">
                    <h4><span class="label label-default">{{i.imageUrl}}</span>
                    </h4>
                </div> -->
                <button class="btn btn-info" *ngIf="auth.loggedIn()" (click)="editauthor(authors)">edit</button>
                <button class="btn btn-danger" *ngIf="auth.loggedIn()" (click)="deleteauthor(authors)">delete</button>
            </div>
        </div>
        
    </div>
  </div> 
